%%
%% etc/app.config
%%
{ring_creation_size,    "128"}.
{gossip_interval,       "20000"}.
{handoff_port,          "8000"}.
{replica_size,          "3"}.
{data_acceptors,        "10"}.
{data_port,             "8001"}.

%%
%% etc/vm.args
%%
{node,                  "bigstore@127.0.0.1"}.
{cookie,                "bigstore"}.
