[
 {bigstore, [
             {replica_size, {{replica_size}} },
             {data_acceptors, {{data_acceptors}} },
             {data_port, {{data_port}} }
            ]},
 {riak_core, [
              {ring_creation_size, {{ring_creation_size}} },
              {gossip_interval, {{gossip_interval}} },
              {handoff_port, {{handoff_port}} },
              {http, [{"127.0.0.1", 0}]}
             ]},
 {lager, [
          {handlers, [{lager_console_backend, emergency}]}
         ]},
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
 {kernel, [
           {inet_dist_listen_min, 9000},
           {inet_dist_listen_max, 9010}
          ]}
].
